---
title: Nexus Discord Verification
description: Nexus is ◉RD's Discord holder verification solution for Ordinals communities.
sidebar:
  order: 5
---

Nexus is ◉RD's Discord holder verification solution for Ordinals communities.

Nexus features a powerful rules engine, allowing a single rule to handle different holding tiers,
different collection sets, or trait based roles.

Nexus is part of [ord.net](https://ord.net/), so holders do not need to connect wallets on a
separate service. Additionally, all linked wallets remain private.

Nexus offers multiple affordable service tiers. Please visit
[nexus.ord.net](https://nexus.ord.net/) to learn more and add Nexus verification to your Discord
server.
